body{px; color: blue; text-shadow: 3px 2px pink; border-style: double
}
h1 {outline-style: dashed; outline-color:yellow
}
p{font: "Ostrich Sans", Monospace; font-style: oblique}
img{border-radius: 150px
}
